body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.container {
    background-color: #2b3e50;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    color: #fff;
}

.tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tablinks {
    flex: 1;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.tablinks + .tablinks {
    background-color: #3e505d;
}

.tablinks.active {
    background-color: #28a745;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #218838;
}
